<footer>
  <img src="{{ '/static/logo.png' | url }}" alt="Edge Robotics Studio" class="logo"/>
  <p>Edge Robotics Studio © Copyright <span id="copyright-year">2026</span>. All rights reserved.</p>
  <script>document.getElementById("copyright-year").textContent = new Date().getFullYear();</script>
</footer>
