---
layout: layout.njk
title: Blog
---

<section style="background-color: #004D40; color: white; padding: 4rem 2rem; margin: 0; class= blog-list ">

  <h1 class="blog-heading">Blog</h1>

  {% for post in collections.blog %}
  <article class="blog-post">

    <!-- Meta row -->
    <div class="meta">
      {% if post.data.authorImage %}
        <img src="{{ post.data.authorImage }}" class="author-img" />
      {% endif %}
      <span>{{ post.date | readableDate }}</span>
      <span> • </span>
      <span>{{ post.templateContent | readingTime }} min read</span>
    </div>

    <!-- Content row -->
    <div class="post-row">

      {% if post.data.thumbnail %}
        <img src="{{ post.data.thumbnail }}" class="thumb" />
      {% endif %}

      <div class="excerpt-block">
        <h3>
          <a href="{{ post.url }}" class="read-more">
            {{ post.data.title }}
          </a>
        </h3>

        {% if post.data.excerpt %}
          <p class="excerpt">{{ post.data.excerpt }}</p>
        {% endif %}

        <a href="{{ post.url }}" class="read-more">Read more →</a>
      </div>

    </div>

  </article>
  {% endfor %}

</section>
