---
layout: layout.njk
title: Home
---

<!-- About Section -->
<section id="about" class="about-section">
  <div class="card">
    <div class="about-content-row">
      
      <!-- Image Column -->
      <div class="about-image">
        <img src="{{ '/static/about.jpg' | url }}" alt="About Image" class="content-image" loading="lazy" />
      </div>
      
      <!-- Text Column -->
      <div class="about-text">
        <h2>About</h2>
        
          <p>I’m Dharmesh Makvana, a robotics freelancer.</p>
          
          <p>I’m passionate about bringing design and code together to build intelligent, responsive machines. For me, the real reward is in seeing a creation move with purpose and respond to its surroundings. That spark is what drives me to keep building.</p>
          
          <p>Today, I’m fortunate to work on projects that turn this passion into reality. I design, develop, and integrate robotic systems that blend hardware and software to solve real-world automation problems.</p>
          
          <p>Feel free to explore the rest of this site to see some of the projects I’ve worked on.</p>

        <!-- Social Icons -->
        <div class="about-social-icons">
          <a href="https://github.com/Dharmesh-Makvana" target="_blank" aria-label="GitHub">
            <img src="{{ '/static/about-github.png' | url }}" alt="GitHub" />
          </a>
          <a href="https://linkedin.com/in/Dharmesh-Makvana" target="_blank" aria-label="LinkedIn">
            <img src="{{ '/static/about-linkdin.png' | url }}" alt="LinkedIn" />
          </a>
          <a href="mailto:edgeroboticsstudio@gmail.com" aria-label="Email">
            <img src="{{ '/static/about-email.png' | url }}" alt="Email" />
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
